.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.your-vote {
  color: red;
}


.leaderboard-row {
  position: relative;
  padding-top: 35px;
}

.leaderboard-avatar-span {
  padding-left: 210px;
}

.leaderboard-avatar {
  height: 75px;
}

.pad-right {
  padding-right: 15px;
}

.rank {
  font-size: 25px;
  position: absolute;
  top: 50%;
  display: inline-block;
}

.questions-asked-and-answered {
  position: absolute;
  top: 50%;
}